@import "main.css";
@import "buttons.css";

.svg-container {
  box-sizing: border-box;
  
  width: 10px;
  height: 10px;
}

.svg-container-open {
  display: none;
  box-sizing: border-box;

  height: 20px;
}